/* Agregaré estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
    --negro: #111;
    --negro-casi-opaco: rgba(0, 0, 0, 0.75);
    --negro-casi-transparente: rgba(0, 0, 0, 0.25);
    --gris: #aaa;
    --gris-oscuro: #494949;
    --gris-casi-opaco: #fff7;
    --verde: rgb(31, 150, 8);
    --dorado: #FC0;
    --rojo: rgb(221, 0, 0);
    --blanco: #fff;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
