body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(var(--negro-casi-transparente),var(--negro-casi-transparente)),url('../../../images/wallpaper2.jpg');
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-size: cover;
    background-attachment: scroll;
}

/* ############### Encabezado ############### */

header.contenedor_menu {
    width: 100%;
    padding: 1.25rem 2rem;
    background-color: var(--blanco);
}

nav.menu{
    display: flex;
}

nav.menu a {
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
    color: var(--rojo);
    text-decoration: none;
}

nav.menu span.casita {
    font-size: 1.75rem;
}

nav.menu span.menu_texto {
    position: relative;
    top: 4px;
}

/* ############### App ############### */

main.contenedor_app {
    min-height: 85vh;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section.box_app {
    margin-top: 5rem;
    width: max-content;
    max-width: 90%;
    min-height: 60vh;
    padding: 2.25rem 2.75rem;
    background-color: var(--gris-casi-opaco);
    border-radius: 1rem;
}

main.contenedor_app h1.titulo_app {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: var(--rojo) 1px 0 4px;
}

section.box_app form.form_new_gift {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
}

/* Formulario */
form.form_new_gift > input#gift_input,
form.form_new_gift > input#gift_cantidad,
form.form_new_gift > input#gift_link {
    outline: none;
    border: none;
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: .25rem;
}

form.form_new_gift > input#gift_input,
form.form_new_gift > input#gift_link {
    grid-column: 1/3;
}

form.form_new_gift > button.btn_add_gift {
    background-color: var(--verde);
    padding: .5rem;
    font-size: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    border: 1px solid var(--dorado);
    border-radius: .25rem;
    cursor: pointer;
}

/* Lista */
ul.lista_app {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: minmax(100px,max-content) max-content;
    justify-content: space-between;
    align-items: flex-end;
}

ul.lista_app > .contenedor_gifts {
    display: flex;
    flex-flow: row nowrap;
}

ul.lista_app > .contenedor_gifts > li {
    width: 100%;
    padding: 1rem 0 0 .5rem;
    font-size: 1.25rem;
}

ul.lista_app > .contenedor_gifts > span.cantidad_gifts {
    position: relative;
    font-size: 1.25rem;
    padding: 1rem 0 0 2.5rem;
}

ul.lista_app > .contenedor_gifts > span.cantidad_gifts::before {
    content: url('../../../images/gift-icon-32.png');
    position: absolute;
    top: 30%;
    left: 0;
}

.contenedor_gifts > li > span {
    font-size: .9rem;
    cursor: pointer;
    margin-left: .5rem;
}

/* Modal Img */
.contenedor_gifts > li > span > .contenedorImg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 200;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: none;
    place-items: center;
    background-color: var(--negro-casi-opaco);
}

.contenedor_gifts > li > span > .contenedorImg > img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    background-color: #fff;
}

.contenedor_gifts > li > span > .contenedorImg.d-grid {
    display: grid;
}

ul.lista_app > span.tachito {
    position: relative;
    top: -10%;
    color: var(--rojo);
    cursor: pointer;
    justify-self: flex-end;
}

.contenedor_btn_delete_all {
    margin-top: 1rem;
    width: 100%;
    background-color: #fff;
    position: relative;
    height: 35px;
}

button.btn_delete_all {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--rojo);
    border: 2px solid var(--rojo);
    position: absolute;
    z-index: 5;
    transition: color .2s;
}

button.btn_delete_all::after {
    content: '';
    position: absolute;
    display: inline-block;
    inset: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--rojo);
    transition: transform .2s;
}

button.btn_delete_all:hover {
    color: var(--blanco);
}

button.btn_delete_all:hover::after {
    transform: scaleX(1);
}

/* Cuando no hay elementos en la lista */
ul.lista_app:has(img.santa_sad) {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.lista_app > .contenedor_gifts > li::first-letter {
    text-transform: uppercase;
}

figure.contenedor_santa {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

p.texto_no_gifts {
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
}

img.santa_sad {
    width: 250px;
    height: 350px;
    object-fit: contain;
}

/* ############### Media Queries ############### */

@media screen and (max-width: 992px){
    body {
        background-position: center;
    }
}

@media screen and (max-width: 567px){
    main.contenedor_app h1.titulo_app {
        font-size: 2rem;
    }
    
    section.box_app {
        max-width: 100%;
        padding: 1.25rem 1.75rem;
    }

    section.box_app form.form_new_gift {
        grid-template-columns: 100%;
    }

    form.form_new_gift > input#gift_input,
    form.form_new_gift > input#gift_link {
        grid-column: 1/2;
    }

    .contenedor_gifts > li > span > .contenedorImg > img {
        width: 250px;
        height: 250px;
    }

    p.texto_no_gifts {
        font-size: 1rem;
    }
}
